@media screen and  (max-width: 1200px) {
    
    .nome_trabalhador {
        font-size: 2em;
    }
    
    .profissao {
        font-size: 1.5em;
    }

    .about {
        font-size: 1.2;
    }
    
    .descricao_trabalhador {
        font-size: 1.1em;
    }

    .container_servicos_img>img {
        height: 150px;
        width: 230px;
    }

}

@media screen and  (max-width: 680px)  {
    
    .nome_trabalhador {
        font-size: 1em;
    }

    .profissao {
        font-size: 0.9em;
    }

    .about {
        font-size: 0.8em;
    }

    .descricao_trabalhador {
        font-size: 0.8em;
    }

    .container_servicos_img>img {
        max-width: 120px;
        max-height: 120px;
    } 




}